<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <div id="logo">
                <div><img src="/css/icono.svg" alt="Logotipo de un electrocardiograma" height="40px" width="40px"></div>
                <div><p>Sistema de Gestión de Hospitales</p></div>

            </div>

        </header>
        <main>
            <div>
                <h1>Gestionar</h1>
            </div>
            <div id="contenedor_menu">
                <div class="sub_menu">                    
                        <div><img src="/css/list.svg" alt="icono para listar" class="icono"></div>
                        <div><b>Listar Hospitales</b><br><small>Leer Operaciones</small></div>
                        <div><a href="/listar"><img src="/css/right-arrow.svg" alt="ir a la dirección solicitada" class="icono final"></a></div>
                </div>
                <div class="sub_menu">
                    <div><img src="/css/add.svg" alt="icono para agregar un registro" class="icono"></div>
                    <div><b>Nuevo Hospital</b><br><small>Registrar Operaciones</small></div>
                    <div><a href="/registrar"><img src="/css/right-arrow.svg" alt="ir a la dirección solicitada" class="icono final"></a></div>
                </div>
                <div class="sub_menu">
                    <div><img src="/css/pencil.svg" alt="icono para actualizar" class="icono"></div>
                    <div><b>Actualizar Hospital</b><br><small>Actualizar Operaciones</small></div>
                    <div><a href="/actualizar"><img src="/css/right-arrow.svg" alt="ir a la dirección solicitada" class="icono final"></a></div>
                </div>
                <div class="sub_menu">
                    <div><img src="/css/trash.svg" alt="icono para listar" class="icono"></div>
                    <div><b>Eliminar Hostipal</b><br><small>Borrar Operaciones</small></div>
                    <div><a href="/eliminar"><img src="/css/right-arrow.svg" alt="ir a la dirección solicitada" class="icono final"></a></div>
                </div>
                <div class="sub_menu">
                    <div><img src="/css/poweroff.svg" alt="icono para listar" class="icono"></div>
                    <div><b>Cerrar Sesión</b><br><small>Salir</small></div>
                    <div><a href="/logout"><img src="/css/right-arrow.svg" alt="ir a la dirección solicitada" class="icono final"></a></div>
                </div>
            </div>
        </main>



    </body>
</html>