<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Listar Hospitales</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <header>
            <div id="logo">
                <div><img src="/static/css/icono.svg" alt="Logotipo de un electrocardiograma" height="40px" width="40px"></div>
                <div><p>Sistema de Gestión de Hospitales</p></div>               
                
            </div>

        </header>
        <main>
            <div>
                <h1>Listar Hospitales está en Construcción</h1>
            </div>
        </main>

    </body>
</html>